[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "NBDesign"]
	path = NBDesign
	url = https://github.com/cran/NBDesign
[submodule "PWEALL"]
	path = PWEALL
	url = https://github.com/cran/PWEALL
[submodule "WLreg"]
	path = WLreg
	url = https://github.com/cran/WLreg
